* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.15))
    rgba(255, 255, 255, 0.15);
  background-color: #0047ab;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  @media (min-width: 992px) {
    padding-top: 100px 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
